
/* #region DEBUG */
.bg_dark{
    background-color:#2c3e50 ;
}
.jumbo{

    background-color: aquamarine;
}

.portfolio .col-sm-12{
 background-color: blue;
 height: 150px;
}

.about{
    background-color: rgb(57, 152, 120);
}
/* #endregion DEBUG */

/* #region CONTACT ME */
 .contact_me{
    width: 80%;
 }

 .message{
    margin-top: 5rem;
 }
/* #endregion CONTACT ME */

/* #region PORTFOLIO */

/* #endregion PORTFOLIO */
